{% extends 'layout/base.html' %}
{% load static %}


{% block js %}
<script>

</script>
{% endblock js %}

{% block title %}
طلبات العملاء - المنتج
{% endblock title %}

{% block content %}

<section class="inner-section shop-part my-5">
    <div class="container">
       <div class="row content-reverse">
          <div class="col-lg-3">
            <div class="shop-widget">
                <ul class="banner-category-list p-0">
                    <li class="banner-category-item">
                        {% if dashboard is True %}
                        <a href="{% url 'affiliate_dashboard' %}" style=" color: #fff; background-color: #48c138; "><span>الرئيسية</span></a>
                        {% else %}
                        <a href="{% url 'affiliate_dashboard' %}"><span>الرئيسية</span></a>
                        {% endif %}
   
                        {% if customer_orders is True %}
                        <a href="{% url 'customer_orders' %}" style=" color: #fff; background-color: #48c138; "><span>طلبات العملاء</span></a>
                        {% else %}
                        <a href="{% url 'customer_orders' %}"><span>طلبات العملاء</span></a>
                        {% endif %}
                        
                        {% if billing is True %}
                        <a href="{% url 'billing' %}" style=" color: #fff; background-color: #48c138; "><span>سحب الارباح</span></a>
                        {% else %}
                        <a href="{% url 'billing' %}"><span>سحب الارباح</span></a>
                        {% endif %}
                     </li>
                 </ul>
             </div>
          </div>
          <div class="col-lg-9">
             <div class="row">
                <h3 class="my-2">طلبات العملاء:</h3>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                #كود الطلب
                            </div>
                            <div class="col-3">تاريخ الطلب</div>
                            <div class="col-3">حاله الطلب</div>
                            <div class="col-4">الربح</div>
                        </div>
                    </li>
                    {% for order in orders %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                {{ order.order_code }}#
                            </div>
                            <div class="col-3">
                                {{ order.created|date:"Y-m-d" }}
                            </div>
                            <div class="col-3">
                                {% if order.status == 'تم التوصيل' %}
                                <span class="badge bg-success m-0">{{ order.status }}</span>
                                {% elif order.status == 'تعليق التوصيل' %}
                                <span class="badge bg-warning m-0">{{ order.status }}</span>
                                {% elif order.status == 'تم إلغاء أو رفض الطلب' %}
                                <span class="badge bg-danger m-0">{{ order.status }}</span>
                                {% else %}
                                <span class="badge bg-warning m-0">{{ order.status }}</span>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                {{ order.earn }} جنيه
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
             </div>     
            </div>
          </div>
       </div>
    </div>
 </section>

{% endblock content %}




